body {
	background:url(../images/body.jpg);
	}

.main_div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 4px #ccc;
    margin: 5% auto 0;
    min-height: 440px;
    padding: 10px;
    width: 400px;
}
.btn-default {
    background-color: #4bc8ff;
    border-color: #4bc8ff;
    color: #fff;
    font-weight: bold;
}
.form-horizontal .control-label {
	text-align:left;
}
.margin_top {
	margin-top:20px;}

.controls.input-append.date.form_datetime > input {
    display: inline-block;
    width: 92%;
	background-color:#FFF;
}
.add-on {
    background: #eee none repeat scroll 0 0;
    border-radius: 0 5px 5px 0;
    display: inline-block;
    margin: 0 0 0 -6px;
    padding: 7px;
    width: 7%;
}
.glyphicon.icon-arrow-right {display:inline-block;width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("glyphicons-halflings.png");background-position:-264px -96px;background-repeat:no-repeat;margin-top:1px;}
.glyphicon.icon-arrow-left {display:inline-block;width:14px;height:14px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("glyphicons-halflings.png");background-position:-240px -96px;background-repeat:no-repeat;margin-top:1px;}