<div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <form class="form-horizontal margin_top">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-12 control-label">First name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail1" placeholder="First name" ng-model="nydata.Firstname"/>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-12 control-label">Last name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail2" placeholder="last name" ng-model="nydata.Lastname"/>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-12 control-label">Email</label>
              <div class="col-sm-12">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="nydata.Email"/>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-12 control-label">Phone</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Phone" ng-model="nydata.Phone"/>
              </div>
            </div>
   <div class="form-group">
              <label for="inputEmail3" class="col-sm-12 control-label">Location</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Phone" ng-model="Seconddata.Location"/>
              </div>
            </div>
   <div class="form-group">
              <label for="inputEmail3" class="col-sm-12 control-label">Date departure</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Phone" ng-model="Seconddata.departureg"/>
              </div>
            </div>
   <div class="form-group">
              <label for="inputEmail3" class="col-sm-12 control-label">Date Return</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Phone" ng-model="Seconddata.Return"/>
              </div>
            </div>
            
          </form>
        </div>
  </div>